* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-indicators button {
    border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
}

a {
    text-decoration: none;
}

.text-lightbrown {
    color: #c9b593;
}


.half-height-container {
    min-height: 40vh;
}

.rotate-15 {
    position: relative;
    right: 22px;
}

.bi-send::before {
    content: "\f6c0";
    transform: rotate(44deg);
}

.strikethrough {
    position: relative;
  }
  .strikethrough::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 122%;
    border-top: 1px solid black; /* Цвет и толщина линии */
    transform: translate(-50%, -50%) rotate(124deg);
  }
